/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

/* Heading styles */
h1 {
    margin-bottom: 20px;
    color: #007bff;
}


/* Button styles */
.bt-list {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px; /*按鈕預設大小*/
    
}

.button-box {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}


button:hover {
    background-color: #0056b3;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none; /* 去掉下划线 */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #45a049;
}

/* Form styles */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}


textarea {
    resize: vertical;
}

/* List styles */
#list {
    margin-top: 20px;
}

/*行程列表文字框 styles */
.list-item {
    margin: 20px 100px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 3px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.list-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title styles */
.list-item h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: inline;
}
/* 輸入選項列表框 */
#input-box{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 180px;
}
/* 引導說明 */
#use:hover::after {
    content: "查看使用說明"; /* 顯示的引導資訊 */
    position: relative;
    left: 90%; /* 位於按鈕或連結的右側 */
    transform: translateX(-50%); /* 水平居中 */
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 5px 10px;
    border-radius: 5px; 
    font-size: 14px; 
    pointer-events: none; /* 避免影響滑鼠事件 */
}
/* 時程按鈕 */
.timeStyle{
    background-color:rgba(0, 0, 0, 0.1);
    color:black;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.timeStyle:hover{
    background-color:#ccc;
}

#search1{
    background-color: #fff;
    border: 1px solid black;
    margin-left: 90px;
    margin-right: 1000px;
    padding: 1px 1px;
}

@media(max-width:500px){
    /* 當螢幕小於500px時，套用此手機版面 */
    .bt-list {
        font-size: 13px;
        width: 45%;
        margin-bottom: 10px;
        
    }
    #input-box{
        margin: 2px;
    }
    .list-item{
        margin: 10px;
    }
    .list-item h4{
        font-size: 15px;
        
    }
    h3{
        font-size: 16px;
    }
}